div {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	margin: 0;
	letter-spacing: 2px;
	line-height: 1.5;
}

ul{
	list-style-type: none;
}

ul, li{
	margin: 0;
	padding: 0;
}

img {
	width: 100%
	height: auto;
}

hr {
	width: 80%;
	margin: 30px auto; 
}

.heading-title {
	margin-top: 50px;
}

.heading-title hr {
	margin: 10px auto;
    width: 50px;
}

.clearfix.group:after{
    content: “”;
    display: table;
    clear: both;
}

.heading-title {
	margin-bottom: 50px;
}
    

.topbar {
	padding: 0 20px;
	line-height: 80px;
}

.container {
	max-width: 1300px;
	box-sizing: border-box;
}

#nav {
	float: right;
}

#nav ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

#nav li {
	display: inline;
	padding: 0 20px; 
}

#nav a {
	text-transform: uppercase;
	color: #D3D7DC;
}

#nav a:hover{
	color: white;
	text-decoration: none;
}


#mobile-nav {
	display: none;
}

#menu-trigger .material-icons {
	display: none;
	position: fixed;
	right: 0;
	padding: 25px 0;
    width: 30px;
}

#goto-second-page .material-icons{
	position: relative;
	color: #D3D7DC;
	left: 50%;
	bottom: -15px;
	transform: translate(-50%, 0);
	font-size: 4em;
}


#goto-second-page .material-icons:hover{
	color: white;
}

#header-back {
	max-width: 100%;
	height: 700px; 
    background-image: url(../assets/background_img.JPG);
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

.header{
	text-align: center;
}

.menu-trigger {
	height: 80px;
}

.simply-introduce{
	padding-top: 10px;
}

.simply-introduce h1, h3 {
	color: white;
}

.tel-mail {
	margin-top: 10px;
}

.tel-mail li{
	display: inline;
	padding: 20px;
}

.tel-mail li a{
	color: #D3D7DC;
}

.tel-mail li a:hover {
	color: white;
	text-decoration: none;
}


/* about */
.about {
	width: 100%;
	height: auto;
	background-color: white;
}

.about-title h2 {
	margin: 20px 0 10px 0px;
    color: #282928;
    text-align: center;
    text-transform: uppercase;
}

.about .row {
	margin: 50px auto;
}

.about h3{
	color: #282928;
}

.article-first-word {
	font-size: 30px;
}

.about h5{
	text-align: right;
	margin-bottom: 20px;
}
.about h5:before{
	content: "－";
	color: #D3D7DC;
}

.my-photo {
	width: 100%;
	height: auto;
	box-shadow: 3px 3px 12px gray;
	padding: 3px;
}

.about-link {
	width: 100%;
	height: auto;
}


.experience .icons {
	text-align: center;
}

.experience hr {
	width: 40%;
	margin: 10px auto;
}

.experience .material-icons{
	text-align: center;
}

.experience h4{
	color: #D3D7DC;
	text-transform: capitalize;
}

.experience ul {
	margin: 0 10%;
	list-style-type: circle; 
}

/*abilities*/

.abilities .col-sm-6{
	padding: 40px 40px;
	background: rgba(0, 0, 0, 0.5);
}

.abilities h3{
	color: #D3D7DC;
	text-transform: capitalize;
	margin-bottom: 80px;
}

.progress-bar {
	position: relative;
	margin-top: 60px;
	width: 100%;
  	background-color: #eae8e8;
	justify-content: flex-start;
}

.progress-bar div {
    display: inline-block;
}

.progress-bar .progress {
	position: relative;
	padding-left: 15px;
	background-color: black;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	height: auto;
	border-radius:0;
}

/*.progress-bar .pin {
  position: relative;
  width: 20%;
  top: -40px;
  left: -30px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 3px 8px;
  border-radius: 14px;
}*/

/*interests*/

.row .col-sm-2 {
	text-align: center;	
	margin-top: 10px;
}
.interest  h3{
	color: #D3D7DC;
	text-transform: capitalize;
}

@media (min-width: 651px){

	.header{
		position: relative;
	}

	.header img{
	    margin: 40px 0 20px 0;
	    width: 250px;
	    height: 250px;
	    text-align: center;
	    border: 7px solid #D3D7DC;
	    border-radius: 50%;
	    box-shadow: 8px 8px 15px gray;
	    transition: all 0.6s;
	}

	.header img:hover{
		transform: scale(1.05);
	}

	.about-link {
		display: none;
	}

	.about-link ul{
		display: inline-block;
		margin: 0 auto;
		width: 200px;
		height: 33px;
	}

	.about-link li {
		float: left;
	}

	.about-link a {
		display: inline-block;
		color: #D3D7DC;
		padding: 0 5px;
	}

	.about-link a:hover {
		color: white;
		text-decoration: none;
	}

	.pin {
		position: relative;
	    top: -80px;
	    left: 280px;
	    font-size: 16px;
	    background: rgba(0, 0, 0, 0.6);
	    color: white;
	    padding: 3px 8px;
	    border-radius: 14px;
	    width: 60px;
	    text-align: center;
	}

	.pin:after {
	  top: 100%;
	  left: 50%;
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	  border-top-color: rgba(0, 0, 0, 0.6);
	  border-width: 6px;
	  margin-left: -6px;
	}
}

@media (max-width: 650px) {

	#menu-trigger {
		z-index: 10;
	}

	#menu-trigger .material-icons {
		display: inline;
		margin-right: 30px; 
		font-size: 2em;
		color: #D3D7DC;
	}

	#menu-trigger .material-icons:hover {
		color: white;
	}

	#nav {
		display: none;
	}

	#mobile-nav { /*do the mobile nav page*/
		display: none;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #282928;
	}

	#mobile-nav ul {
		position: relative;	/* must be used cuz top*/
		text-align: center;
		top: 50%;
		transform: translate(0, -50%);  /* translate(left,right||top,down) to move*/
	}

	#mobile-nav li {
		display: block;
		line-height: 2;
		font-size: 2em;
	}

	#mobile-nav a {
		text-transform: uppercase;
		color: #D3D7DC;
	}

	#mobile-nav a:hover{
		color: white;
		text-decoration: none;
	}

	.header img{
	    margin: 10px 0 0 0;
	    width: 250px;
	    height: 250px;
	    text-align: center;
	    border: 7px solid #D3D7DC;
	    border-radius: 50%;
	}

	.about-link {
		margin-top: 20px;
	}

	.about-link ul {
		list-style-type: none;
	}

	.about-link li {
		display: inline-block;
		padding: 0 5px;
	}

	.about-link a {
		color: #D3D7DC;
	}

	.about-link a:hover {
		color: white;
		text-decoration: none;
	}

	.pin {
		position: relative;
	    top: -80px;
	    left: 200px;
	    font-size: 16px;
	    background: rgba(0, 0, 0, 0.6);
	    color: white;
	    padding: 3px 8px;
	    border-radius: 14px;
	    width: 60px;
	    text-align: center;
	}

	.pin:after {
	  top: 100%;
	  left: 50%;
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	  border-top-color: rgba(0, 0, 0, 0.6);
	  border-width: 6px;
	  margin-left: -6px;
	}
}